@media screen and (max-width:767px) {
    
    .nav-menu {
        display: none;
    }

    .cadre-c {
        gap: 0%;
        max-width: 22%;
    }

    footer p{
        font-size: 8px;
    }

    h3{
        font-size: 15px;
    }

    h4 {
        margin-left: 3%;
        font-size: 14px;
    }

    .inthefooter img{
        width: 10%;
        height: 10%;
        margin-right: 10px;
    }

    .app-footer img{
        width: 100px;
    }

    .pay-footer img{
        width: 45px;
        height: 25px;
    }

    .pay-footer {
        justify-content: space-evenly;
        align-items: center;
    }

    .join-footer {
        margin-right: 2%;
    }

    .join-footer img{
        width: 18%;
        align-items: center;
    }

    .logo-footer {
        margin-top: 20%;
    }

    .fleche img{
        width: 20%;
        margin-left: -5%;
    }
}